[submodule "vehicle_creation"]
	path = src/vehicle_creation
	url = https://github.com/keithtjj/vehicle_creation.git
[submodule "mqtt_bridge"]
	path = src/mqtt_bridge
	url = https://github.com/keithtjj/mqtt_bridge.git
[submodule "multi_ugv_behaviours"]
	path = src/multi_ugv_behaviours
	url = https://github.com/keithtjj/multi_ugv_behaviours.git
[submodule "yolov7-ros"]
	path = src/yolov7_ros
	url = https://github.com/keithtjj/yolov7_ros.git
