[submodule "vehicle_creation"]
	path = src/vehicle_creation
	url = https://github.com/proprogramerX/vehicle_creation.git
[submodule "mqtt_bridge"]
	path = src/mqtt_bridge
	url = https://github.com/proprogramerX/mqtt_bridge.git
